.heroTitle {
    // text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    text-align: center;
    letter-spacing: -0.5rem;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    align-items: center;
    align-content: center;

    @media(max-width:640px) {
        letter-spacing: 0;
    }
}