@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetbrainsItalic";
  font-style: italic;
  src: url("./assets/fonts/JetBrainsMono-Light-Italic.ttf");
}

@font-face {
  font-family: "Jetbrains";
  src: url("./assets/fonts/JetBrainsMono-Light.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Caveat";
  src: url('./assets/fonts/Caveat-Regular.ttf');
}

:root {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: "Poppins", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

@layer components {
  ::-webkit-scrollbar {
    @apply w-[0.4rem] h-0;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-[#F7941D] to-[#FF607B];
  }

  .gradient-primary {
    @apply text-transparent bg-gradient-to-r from-[#FE8DC6] to-[#ff7db7e1] bg-clip-text;
  }

  .gradient-orange {
    @apply text-transparent bg-gradient-to-r from-[#F7941D] to-[#FF607B] bg-clip-text;
  }

  .sectionTitle {
    @apply text-center leading-normal text-4xl tablet:text-6xl;
  }
}

section {
  padding: 5rem;

  @media (max-width: 640px) {
    padding: 1rem;
  }
}
