@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NotoSansMono-Regular";
  src: url("./assets/fonts/NotoSansMono-Regular.ttf");
}

@font-face {
  font-family: "JetbrainsItalic";
  font-style: italic;
  src: url("./assets/fonts/JetBrainsMono-Light-Italic.ttf");
}

@font-face {
  font-family: "Jetbrains";
  src: url("./assets/fonts/JetBrainsMono-Light.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Assistant:wght@300;400;500;600;700;800&family=Lato&family=Sacramento&display=swap");
}

:root {
  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: "Poppins", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

@layer components {
  ::-webkit-scrollbar {
    @apply w-[4px] h-0;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-[#FE8DC6] to-[#ff7db7e1];
  }

  .gradient-primary {
    @apply text-transparent bg-gradient-to-r from-[#FE8DC6] to-[#ff7db7e1] bg-clip-text;
  }

  .sectionTitle {
    @apply text-center leading-normal text-4xl tablet:text-6xl;
  }
}

section {
  padding: 5rem;

  @media (max-width: 640px) {
    padding: 1rem;
  }
}
